<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
  
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="아이디" id="id"/>
            <input type="text" placeholder="이름" id="name"/>
            <input type="text" placeholder="비밀번호" id='password'/>
            <input type="text" placeholder="비밀번호 확인" id='re-password'/>
            <button id='btn' >sign up</button>
            <p class="message">Already registered? <a href="/login">Login</a></p>
          </form>
        </div>
      </div>
</body>
</html>
<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->